.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItem {
    padding: 20px;
}

.dialog {
    
}

.messages {
    padding: 20px;
}

.message {

}
.active {
    color: blueviolet;
}